@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	cursor: default;
	background-color: rgba(0, 0, 200, 0.1);
	-webkit-user-select:  none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	box-sizing: border-box;
}

.app{
	color: rgba(0, 0, 200, 1.0);
	grid-row-start: 1;
	grid-row-end: 2;
}

.container{
	display: grid;
	grid-template-columns: minmax(300px, auto) minmax(200px, auto) minmax(200px, auto);
	grid-template-rows: 20px minmax(300px, auto) 20px;
	gap: 30px;
	box-sizing: border-box;
}
#todoList{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
#taskList{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.footer{
	grid-row-start: 3;
	grid-row-end: 4;
}

input, .validate{
	float: left;
}

.todo, ul{
	margin: 0;
	padding: 0;
}
ul li{
	position: relative;
	font-size: 18px;
}

.header { /* header */
	background-color: rgba(0, 0, 200, 0.65);
	padding: 30px 40px;
	color: white;
	text-align: center;
}
.header:after{
	content: "";
	display: table;
	clear: both;
}

ul li{
	color: rgba(0, 20, 210, 1);
	font-weight: bold;
		font-size: 15px;
		display: block;
		padding: 20px;
		transition-duration: 0.5s;
	list-style: none;
	position: relative;
	display: block !important;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.260, 1.55);
}


.active{
	border-bottom: 5px solid rgba(50, 200, 20, 0.9);
	background-color: rgba(0, 200, 0, 0.5);
}


#taskList ul li{
	padding-left: 60px;
}
#taskList ul li.checked{
	background: rgba(40, 30, 175, 0.4);
	text-decoration: line-through;
}
#taskList ul li:nth-child(odd){
	background: rgba(0, 0, 255, 0.1);
}
#taskList ul li:nth-child(even){
	background: rgba(0, 0, 255, 0.05);
}
#taskList ul li.checked::before{
	content: "";
	position: absolute;
	border-color: rgba(0, 155, 0, 1.0);
	border-style: solid;
	border-width: 0 2px 2px 0;
	top:  15px;
	left: 20px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

.validate, .close{
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

input {
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 10px;
	width: 75%;
	float: left;
	font-size: 16px;
}

input:focus{
	outline: none;
}

.validate{ /*.addBtn*/
	padding: 10px;
	width: 25%;
	background-color: rgba(30, 50, 150, 1);
	color: #fff;
	
	float: left;
	transition: 0.5s;
	border-radius: 0;
}

.validate, .close, .app{
	text-align: center;
}

.close{
	color: rgba(0, 0, 200, 0.9);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 12px 16px 12px 16px;
	background-color: transparent;
	border-radius: 0;
	border: none;
}

.close:hover{
	color: #fff;
	background-color: rgba(0, 0, 200, 0.9);
}
